body{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Oswald', sans-serif;
	background-color: ;
}
.container{
	max-width: 1500px;

	}
.small-container{
	max-width: 1080px;
	margin: auto;
	padding-left: 25px;
	padding-right:25px;
	box-shadow: 2px 2px 3px 3px #777;
}
.row{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}
.col-4{
	flex-basis: 25%;
	padding: 10px;
	min-width: 200px;
	margin-bottom: 50px;
	transition: transform 0.5s;
}
.col-4 img{
	width: 100%;
}

.tit{
	text-align: center;
	margin: 0 auto 80px;
	position: relative;
	line-height: 60px;
	color: #555;
}
.tit::after{
	content: '';
	background: #ff523b;
	width: 80px;
	height: 5px;
	border-radius: 5px;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}
h4{
	color: #555;
	font-weight: normal;
}
.col-4 p{
		font-size:14px;
		
}
.rating .fa{
	color: #ff523b;
}
.col-4:hover{
	transform: translateY(-5px);
}

.brands{
	margin: 100px auto;
}
.col-5{
	width:160px;
}
.col-5 img{
	width: 100%;
	cursor: pointer;
	filter: grayscale(100%)
}
.col-5 img:hover{
	filter: grayscale(0);
}
.page-btn{
	margin: 0 auto 80px;
}
.page-btn span{
	display: inline-block;
	border: 1px solid #ff523b;
	margin-left: 10px;
	width: 40px;
	height:40px;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
}
.page-btn span:hover{
	background: #ff523b;
	color: #fff;
}


.col-3{
	flex-basis: 30%;
	min-width: 250px;
	margin-bottom: 30px;
	
}
.col-3 img{
	width: 100%;
}


.testimonial{
	padding-top: 100px;
}
.testimonial .col-3{
	text-align: center;
	padding: 40px 20px;
	box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
	cursor: pointer;
	transform: transform 0.5;
}
.testimonial .col-3 img{
	width: 50px;
	margin-top: 20px;
	border-radius:50%;
}
.testimonial .col-3:hover{
	transform: translateY(-10px);
}
.col-3 p{
		font-size: 12px;
		margin: 12px 0;
		color: #777;
	}
	
.testimonial .col-3{
		font-weight: 600;
		color:#555;
		font-size: 16px;
	}